.form-grid {
    display: flex;
    flex-direction: column;
    
}

.videoplayer {
    margin-left: 1rem;
}

.seecomments-button {
    margin-left: 1rem;
    height:70px;
    width:200px;
}

.form-control{
    margin-left:1rem;
    width:50%;
}

.search-results {
    margin-left: 1rem;
}